.Dictionary section {
  background-color: rgb(126, 146, 126);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  margin: 20px 0;
}
.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary h1 {
  font-size: 30px;
}
